.modal-novo-contrato {

    padding: 10px;

    .title {
        margin: 0;
        margin-left: 20px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .form-grid {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        @media (max-width: 600px) {
        grid-template-columns: 1fr;
            .descricao-field {
                grid-column: span 1;
            }
        } 
    }
    .error{
            display : flex;
            justify-content: center;
            width: 100%;
        }
    
    .button-row {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }

   
}
