<div class="modal-novo-contrato">
  <div class="title">
    <h2 mat-dialog-title>Novo Contrato</h2>
  </div>

  <div class="form">
    <form [formGroup]="contratoForm" class="form-container">
      <div class="form-grid">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Pessoa</mat-label>
          <mat-select formControlName="pessoaId">
            <mat-option *ngFor="let pessoa of pessoas" [value]="pessoa.id">
              {{ pessoa.nome }} - {{ pessoa.id }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="contratoForm.get('pessoaId')?.hasError('required')">
            A pessoa é obrigatória
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Perfil</mat-label>
          <mat-select formControlName="perfilId">
            <mat-option *ngFor="let perfil of perfis" [value]="perfil.id">
              {{ perfil.nome }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="contratoForm.get('perfilId')?.hasError('required')">
            O perfil é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Data de Início</mat-label>
          <input
            matInput
            [matDatepicker]="pickerInicio"
            [min]="minDate"
            formControlName="dataInicio"
            placeholder="dd/mm/aaaa"
            (dateChange)="setError()"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
          <mat-error *ngIf="contratoForm.get('dataInicio')?.hasError('required')">
            A data de início é obrigatória
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Data de Fim</mat-label>
          <input
            matInput
            [matDatepicker]="pickerFim"
            [min]="minDate"
            formControlName="dataFim"
            placeholder="dd/mm/aaaa"
            (dateChange)="setError()"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
          <mat-datepicker #pickerFim></mat-datepicker>
          <mat-error *ngIf="contratoForm.get('dataFim')?.hasError('required')">
            A data de fim é obrigatória
          </mat-error>
          <mat-error *ngIf="contratoForm.get('dataFim')?.hasError('dataInvalida')">
            A data de fim deve ser posterior à data de início
          </mat-error>
        </mat-form-field> 
       
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Horas Semanais</mat-label>
          <input matInput type="number" formControlName="horasSemanais"/>
          <mat-error *ngIf="contratoForm.get('horasSemanais')?.hasError('required')">
            Informe as horas semanais
          </mat-error>
          <mat-error *ngIf="contratoForm.get('horasSemanais')?.hasError('min')">
            Deve ser maior que 0
          </mat-error>
          <mat-error *ngIf="contratoForm.get('horasSemanais')?.hasError('max')">
            Não pode ultrapassar 40 horas semanais
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Salário por Hora (R$)</mat-label>
          <input matInput type="number" formControlName="salarioHora" step="0.01" />
          <mat-error *ngIf="contratoForm.get('salarioHora')?.hasError('required')">
            Informe o salário por hora
          </mat-error>
          <mat-error *ngIf="contratoForm.get('salarioHora')?.hasError('min')">
            O salário deve ser maior que 0
          </mat-error>
        </mat-form-field>
      </div>

      <div class="error">
         @if(error){
            <mat-error>
            Erro ao tentar criar contrato.<br>Datas de contratos conflitantes. 
            </mat-error>
          }
        </div>
      <div class="button-row">
        <button mat-button color="warn" (click)="fecharModal()">Cancelar</button>
        <button mat-flat-button color="primary" (click)="salvarContrato()" [disabled]="contratoForm.invalid">
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>
