.modal-novo-contrato {
    background-color: #0E308D;
    .title {
    display: flex;
    justify-content: center;
    color: white;
    }

    .form{
        .form-container {
            display: flex;
            flex-direction: column;

            background-color: white;
            padding: 10px;
        }

        .form-grid {
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            @media (max-width: 600px) {
            grid-template-columns: 1fr;
                .descricao-field {
                    grid-column: span 1;
                }
            } 
        }
        .error{
                display : flex;
                justify-content: center;
                width: 100%;
            }
        
        .button-row {
            display: flex;
            justify-content: flex-end;
            padding: 20px;
        }
    }
}
