.formContainer{
    display: flex;
    justify-content: center;
}

#formContrato{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

#identificadores{
    flex-direction: row;
}

.ids{
    width: 100%;
    margin-left: 10px;
}


.data{
    width: 100%;
    margin-left: 10px;
}

input[type=number]{
    appearance: textfield;
}