/* força o mat-dialog a ter tamanho fixo */
::ng-deep .mat-mdc-dialog-container {
  width: 600px !important;
  height: 90vh !important; /* altura fixa da janela */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* remove scroll externo */
}

::ng-deep .mat-mdc-dialog-content {
  overflow: hidden !important;
  padding: 0 !important;
}

.modal-nova-alocacao {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #0e308d;

  .title {
    text-align: center;
    color: white;
    flex-shrink: 0;
    padding: 10px 0;
  }

  .form {
    background-color: white;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .scrollable {
    flex: 1;
    overflow-y: auto;
    max-height: 100%; 
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .pessoa-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .pessoa-group {
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 8px;
    position: relative;
  }

  .btn-remover {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .button-row {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    background-color: white;
    padding: 10px;
    flex-shrink: 0;
    border-top: 1px solid #ddd;
  }
}
